{% block fields %}{% for field in fields %}
{% with field.css_classes as classes %}
{% with label|default:field.label as label and help_text|default:field.help_text as help_text %}
{% block p %}<li{% if classes %} class="{{ classes }}"{% endif %}>
    {% block errors %}{% if field.errors %}<ul class="errorlist">{% for error in field.errors %}
        <li>{{ error }}</li>
    {% endfor %}</ul>{% endif %}{% endblock %}
    {% block label %}{% if field.id %}<label for="{{ field.id }}">{% endif %}{{ label }}{% if label|last not in ":?.!" %}:{% endif %}{% if field.id %}</label>{% endif %}{% endblock %}
    {% block field %}{% formfield field %}{% endblock %}
    {% block help_text %}{% if help_text %}<span class="helptext">{{ help_text }}</span>{% endif %}{% endblock %}
    {% block hidden_fields %}{% if render_hidden_fields %}{% for field in form.hidden_fields %}{{ field.as_hidden }}{% endfor %}{% endif %}{% endblock %}
</li>{% endblock %}
{% endwith %}{% endwith %}{% endfor %}{% endblock %}
