{% block row %}{% for field in fields %}
{% with field.css_classes as classes %}
{% with label|default:field.label as label and help_text|default:field.help_text as help_text %}
{% block field %}<li{% if classes %} class="{{ classes }}"{% endif %}>
    {% block errors %}{% include "forms/errors.html" with errors=field.errors %}{% endblock %}
    {% block label %}{% if field.id %}<label for="{{ field.id }}">{% endif %}{{ label }}{% if label|last not in ":?.!" %}:{% endif %}{% if field.id %}</label>{% endif %}{% endblock %}
    {% block widget %}{% formfield field %}{% endblock %}
    {% block help_text %}{% if help_text %}<span class="helptext">{{ help_text }}</span>{% endif %}{% endblock %}
    {% block hidden_fields %}{% for field in hidden_fields %}{{ field.as_hidden }}{% endfor %}{% endblock %}
</li>{% endblock %}
{% endwith %}{% endwith %}{% endfor %}{% endblock %}
