{% load i18n %}
{% csrf_token %}
{{ wizard.management_form }}
{% if form.forms %}
    {{ form.management_form }}
    {% for fs in form.forms %}
        {{ fs.as_p }}
    {% endfor %}
{% else %}
    {{ form.as_p }}
{% endif %}

{% if wizard.prev_step %}
<button name="wizard_prev_step" value="{{ wizard.first_step }}">{% trans "first step" %}</button>
<button name="wizard_prev_step" value="{{ wizard.prev_step }}">{% trans "prev step" %}</button>
{% endif %}
<input type="submit" name="submit" value="{% trans "submit" %}" />
